@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

body, html {
    margin: 0;
}

body {
    background-color: rgb(230, 230, 230);
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.row > .column {
    padding: 5px 0;
    text-align: left;
    
}
.row > .column:first-child {
    width: 30%;
}
.row > .column:nth-child(2) {
    width: 70%;
}

.row.row--buttons {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    width: 500px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 15px 25px;
    border-radius: 5px;
}

.form-container header {
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-weight: 500;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
    background-color: #000;
}

.form-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, .7);
}

.form-control {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.rules-control {
    padding: 15px;
}

.rules-label {
    font-size: 90%;
    opacity: .8;
}

input[type=checkbox] {
    margin-right: 15px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    padding: 7px 16px;
    background-color: #666666;
    color: white;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.02rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
}

.btn--confirm {
    background-color: #28a745;
}

.btn--danger {
    border: 2px solid #d82235;
    color: #d82235;
    background-color: #fff;
}